@font-face {
  font-family: "iconfont"; /* Project id 3434494 */
  src: url('iconfont.woff2?t=1653719690401') format('woff2'),
       url('iconfont.woff?t=1653719690401') format('woff'),
       url('iconfont.ttf?t=1653719690401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shebeixinxihuoqu:before {
  content: "\e618";
}

.icon-restart-fill:before {
  content: "\e817";
}

.icon-zhuomian:before {
  content: "\e6c2";
}

.icon-shuimian:before {
  content: "\ea01";
}

.icon-guanji:before {
  content: "\e818";
}

